/*
  The file responsible for the `experience` section of the index page.
  This section includes a small figure describing some of the service's
  features.
*/

#experience__graphic {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

#experience__graphic > figure {
  flex: 1;
  border-radius: var(--radius);
  border: 3px solid #333;
  background-color: #171717;
  padding: 1.5em;
}

#experience__graphic > span {
  font-size: var(--title);
}

.experience__graphic__box {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.experience__graphic__box > p {
  color: rgba(255, 255, 255, 0.5);
}

.experience__graphic__box > p > span {
  color: white;
}

.experience__graphic__box > img {
  object-fit: contain;
}

/* ===== Responsive cases ===== */
@media only screen and (min-width: 640px) {
  #experience__graphic {
    flex-direction: row;
  }
}
