/*
  This file is responsible for the `listen` section of the index page.
  This section includes a small figure with popular artists that users
  can hover for a brief look at the artist's highlights.
*/

.artists {
  display: flex;
  flex-direction: row;
  gap: 5%;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
}

.artist {
  position: relative;
  height: clamp(7.5rem, 17vw, 14rem);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
}

.artist > * {
  pointer-events: none;
}

.artist:nth-child(1) {
  height: clamp(10rem, 20vw, 20rem);
}

.artist:nth-child(2) {
  height: clamp(8.5rem, 18.5vw, 17rem);
}

.artist:nth-child(3) {
  height: clamp(8rem, 18vw, 16rem);
}

.artist img {
  z-index: -1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  object-fit: contain;
  border-radius: 50%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.artist h3 {
  position: absolute;
  width: 50%;
  left: 25%;
  text-align: center;
  bottom: 1em;
  z-index: 2;
}

/* ===== Artist highlight (see index.js) ===== */
.artist__highlight {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #000000c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
