/*
  The file responsible for the `pricing` section of the index page.
  This section includes a calculator with a slider to show how much
  using the service will cost.
*/

#pricing__graphic {
  display: flex;
  gap: 2em;
  flex-direction: column;
  border-radius: var(--radius);
  border: 3px solid #333;
  background-color: #171717;
  padding: 1.5em;
}

#pricing__graphic__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#pricing__graphic__time {
  font-size: var(--large);
}

#pricing__graphic__cost {
  font-size: var(--larger);
}

/* ===== Responsive cases ===== */
@media only screen and (min-width: 468px) {
  #pricing__graphic__fields {
    flex-direction: row;
  }
}
