/*
  The file responsible for the `questions` section of the `pricing` page.
  This file contains a form to input a query and a frequently asked
  questions section.
*/

#questions__split {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

#questions__form {
  flex: 1.25;
  height: fit-content;
}

#questions__form input,
#questions__form textarea {
  box-sizing: border-box;
}

#questions__form textarea {
  resize: none;
}

#questions__form label {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: var(--body);
  box-sizing: content-box;
  margin-bottom: 2em;
}

#questions__faq {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#questions__faq p {
  margin-top: 1em;
}

/* ===== Responsive cases ===== */
@media only screen and (max-width: 768px) {
  #questions__split {
    flex-direction: column;
  }
}
