#features > section:not(.current) {
  display: none;
}

#features__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

#features__buttons > .button.primary {
  pointer-events: none;
}

#features,
.feature {
  box-sizing: border-box;
}

.feature {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2em;
}

@media only screen and (min-width: 768px) {
  .feature {
    min-height: auto;
    flex-direction: row;
    gap: 5em;
  }
}

.feature__content {
  flex: 2;
}

.feature__content > h2 {
  font-size: var(--larger);
}

.feature__content > p {
  margin-top: 1em;
}

#placeholder {
  flex: 1;
  background: white;
  aspect-ratio: 282 / 613;
  min-height: 50vh;
}
