/*
  The file responsible for the `features` section of the `experience`
  page. This section has a row of buttons to toggle between the different
  features of the service..
*/

#features > section:not(.current) {
  display: none;
}

#features__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

#features__buttons > .button.button--primary {
  pointer-events: none;
}

#features,
.feature {
  box-sizing: border-box;
}

.feature {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2em;
}

.feature__content {
  flex: 2;
}

.feature__content > h2 {
  font-size: var(--larger);
}

.feature__content > p {
  margin-top: 1em;
}

img {
  flex: 1;
  max-height: 50vh;
  object-fit: contain;
  border-radius: var(--radius);
}

/* ===== Responsive cases ===== */
@media only screen and (min-width: 768px) {
  .feature {
    min-height: auto;
    flex-direction: row;
    gap: 5em;
  }
}
