/*
  This file is responsible for the summary section of the `experience`
  page. This section is the last section of the page and contains a
  grid-like layout of the different features of the service.
*/

#bento {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
}

#bento > div {
  background: #1f1f1fa0;
  border: 3px solid #333;
  border-radius: var(--radius);
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
}

#bento > div > figure > img {
  border-radius: 0;
}

#bento > div > p {
  color: transparent;
  transition: color 150ms ease-in-out;
}

#bento > div:hover > p {
  color: white;
}

#bento > div > figure > *:not(:first-child) {
  margin-left: 1em;
}

/* ===== Responsive cases ===== */
@media only screen and (min-width: 960px) {
  #bento {
    grid-template-columns: repeat(3, 1fr);
  }

  .bento--expanded {
    grid-column: span 2;
  }
}
