/*
  The file responsible for the footer section. The footer is the section
  that is present on all the pages, usually (and in this case) at the bottom.
*/

#footer__navigation {
  display: flex;
  gap: 2em;
  flex-direction: column;
}

#footer__copyright {
  font-size: 1em;
}

#footer__navigation > div:not(:first-child) {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer.content {
  padding: min(5vw, 10rem) min(10vw, 20rem) !important;
}

/* ===== Responsive cases ===== */
@media only screen and (min-width: 460px) {
  #footer__navigation {
    flex-direction: row;
    align-items: center;
    gap: 5em;
  }

  #footer__copyright {
    text-align: center;
  }
}
