header {
  position: fixed;
  width: calc(100vw - 5vmin);
  margin: 2.5vmin;
  padding: 1.5vmin 5vmin;
  background-color: #1f1f1fa0;
  border: 2px solid #1f1f1f;
  backdrop-filter: blur(2em);
  box-sizing: border-box;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius);
}

header h1 {
  margin: 0;
}

header li:not(:first-child) {
  display: none;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2em;
}

/* Hamburger menu + Mobile menu */
#hamburger {
  font-size: var(--larger);
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: color 150ms ease-in-out;
}

#hamburger:hover {
  color: #ffffffaf;
}

#mobile-menu {
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: rgba(10, 10, 10, 0.9);
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mobile-menu > ul {
  display: flex;
  flex-direction: column;
  gap: 3em;
  list-style-type: none;
}

#mobile-menu a:not(.button) {
  font-size: var(--subtitle);
}

@media only screen and (min-width: 768px) {
  header li:not(:first-child) {
    display: block;
  }

  #hamburger {
    display: none;
  }
}
