header {
  position: fixed;
  width: calc(100vw - 5vmin);
  margin: 2.5vmin;
  padding: 1.5vmin 5vmin;
  background-color: #1f1f1fa0;
  border: 2px solid #1f1f1f;
  backdrop-filter: blur(2em);
  box-sizing: border-box;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius);
}

header h1 {
  margin: 0;
}

header nav {
  display: none;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2em;
}

@media only screen and (min-width: 460px) {
  header nav {
    display: block;
  }
}
