header {
  position: fixed;
  width: calc(100vw - 5vmin);
  margin: 2.5vmin;
  padding: 1.5vmin 3vmin;
  background-color: #000000cf;
  box-sizing: border-box;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: calc(0.5 * (100vw - 5vmin));
  border: 1px solid #ffffff;
}

header nav {
  display: none;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 2em;
}

header a {
  text-decoration: none;
  color: #ffffff;
  transition: color 150ms ease-in-out;
}

header a:hover {
  color: #ffffffaf;
}

@media only screen and (min-width: 768px) {
  header nav {
    display: block;
  }
}
