#hero {
  min-height: 100vh;
}

#hero video {
  background-size: cover;
  position: absolute;
  object-fit: contain;
}

#hero__content {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1;
  background-color: #000000c0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero__content h1 {
  font-size: var(--title);
}

@media only screen and (min-width: 860px) {
  #hero__content span {
    width: 60%;
  }
}

#hero__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#hero svg {
  position: absolute;
  right: 0;
  z-index: 1;
  pointer-events: none;
}
