#hero video {
  background-size: cover;
  position: absolute;
  object-fit: contain;
}

div#hero-content {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #000000c0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-content h1 {
  font-size: var(--title);
}

#hero-content span {
  width: 60%;
  margin-top: 1rem;
}

#hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

#hero svg {
  position: absolute;
  right: 0;
  z-index: 1;
  pointer-events: none;
}
