#listen {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

#listen-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#listen-artists {
  display: flex;
  flex-direction: row;
  gap: 5%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.artist {
  position: relative;
  height: clamp(10rem, 20vw, 20rem);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
}

.artist img {
  z-index: -1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  object-fit: contain;
  border-radius: 50%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.artist h3 {
  position: absolute;
  width: 50%;
  left: 25%;
  text-align: center;
  bottom: 1em;
  z-index: 2;
}

.artist-highlight {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #000000c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
